{% extends "islambase.html" %}
{% load staticfiles %}

{% block body_block %} 
<h2>Why should a God who claims to be merciful allow that good and pious people sometimes to suffer?</h2>
<p>
Allah said in Qur'an 47:31: "And certainly We shall try you all, so that We might mark out those of you who strive hard (on Our course) and are patient in adversity: for We shall put to a test (the truth of) all your assertions". The test of faith is the certainty of consonance between faith and deeds,<br/><br/> as Allah puts it in Qur'an 29:2 -  " Do men think that on their (mere) saying, `We have attained to faith', they will be left to themselves, and will not be put to test?" The significance of this test by analogy is like burnt bricks, which suffer pounding, squeezing and baking, i.e. they are fired. All this is to give us the strongest bricks required for a stable building. "Suffering" to the pious or good person is useful to him in his self-development (2:155 - 157 and 21:35).<br/><br/> <a href="#">
<img class="img-responsive" src= "{% static 'style/img/isl/I14.jpeg' %}"  width="100%" height="200" alt="">
</a>Allah tells us, that we shall be tested with things like fear, hunger, loss of fruit of labour, loss of properties and lives but at the same time hinted us on the answer for the test: He wants us to exercise patience, perseverance and acknowledge that everything comes from Him and will definitely return to Him. Whoever fulfils this condition will be considered a true believer. But if you fail then you will be a witness against yourself and truly recognise your own real self. 

</p>
<h2>If God promises to respond to prayers (Q2:186), then why was my sincere prayer for good not answered? </h2>
<p>
As far as efficacy of Du'a is concerned, Allah states in the Qur'an chapter 2 (Al-Baqarah) verse 186 thus:<br/>
<em>"When My servants ask thee concerning Me, I am indeed close (to them): I respond to the prayer (Du'a) of the supplicant when he called on Me: Let them also with a will, listen to My call, and believe in Me: that they may walk in the right way."</em>
</p>
<a href="#">
<img class="img-responsive" src= "{% static 'style/img/isl/I6.jpeg' %}"  width="100%" height="50%" alt="">
</a>

<p>
Also, in Qur'an 40:60 Allah says: <br/>
<em>
"Call on Me (in Du'a) and I will answer your prayer". There are a number of Prophetic ahadith which enjoin Muslims to petition Allah for their needs. One such hadith says that Allah is ashamed not to answer the prayer of a sincere supplicant who raises his hands up. Other states that Allah is angry with one who does not ask Him for anything (through Du'a).
</em>
<br/>
<br/>
If the verses and prophetic traditions quoted above are true, as they are, then how do we answer the question of a believer who asks: "Why are my sincere du'a for good not answered?"

</p>
<a href="#">
<img class="img-responsive" src= "{% static 'style/img/isl/I5.jpeg' %}"  width="100%" height="50%" alt="">
</a>
<p>
First and foremost, it is important that we should never take Allah's attributes in isolation from other attributes: i.e. His willingness to answer prayers should not be taken in isolation from His other attributes like Mercy, Justice, Knowledge, Wisdom, etc. Refer to Qur'an 10:11 for more explanation.<br/>
<br/> To give a few examples, sometimes you may ask Allah for something and He gives you what you asked for exactly as you requested for it. At other times you may ask Allah for something, but He may give you what you want only when He feels it is the best for you; i.e. He may delay granting your request. This is because Allah is the Musabbib-al-Asbab: meaning that He is the Creator of Opportunities who knows when best to answer the request of a believer. <br/>
<br/>A Muslim sister who has been supplicating to Allah to give her a good and loving husband may meet someone she feels is the right person; then something happens as a result of which the marriage is not possible. The tendency is for her to get frustrated and feel that Allah is wasting her time, but it is possible that Allah, the Creator of opportunities is testing her patience and making sure she gets to wait until the person Allah has chosen for her comes.
</p>
<a href="#">
<img class="img-responsive" src= "{% static 'style/img/isl/I7.jpeg' %}"  width="100%" height="50%" alt="">
</a>
<p>
It is also part of Allah's love for us that He sometimes withholds what we supplicate to him for, but converts it to rewards to be kept for the supplicant till the Hereafter. The Prophet (SAW) said that on the Day of Judgement there are those who Allah will call and tell them: You prayed for such and such on earth but your prayer was not answered there, here is the reward for that prayer. The Prophet (SAW) said that such reward will be of so much value that some would have preferred that none of their prayers on earth were answered. Therefore whenever you supplicate to Allah for something it may be even reasonable for you to be happier when your Du'a seems not to have been answered in this world.
</p>
<ul class="pager">
	<li class="next">
	<a href="#">For more visite: Da'wah instute of Nigeria Minna &rarr;</a>
	</li>

	</ul>
{% endblock %}

